{% extends "onboarding/base.html" %}

{% block title %}
Password Reset Done | Identiv
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="box">
            <h1 class="title">Email Sent</h1>
            <p class="subtitle">We have sent you an email with instructions to reset your password.</p>
            <p>Please check your inbox.</p>
            <a href="{% url 'login' %}" class="button is-primary">Go to Login</a>
        </div>
    </div>
</section>
{% endblock %}