{% extends 'app/base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div id="video-container">
    <!-- Heading Container -->
    <div class="heading-container">
        <h1 class="title is-2 has-text-centered has-text-weight-semibold mt-3"
            data-text="Welcome to {{ organization_name }}">Welcome to {{ organization_name }}</h1>
    </div>

    <!-- Video Element -->
    <video id="video" autoplay muted></video>

    <!-- Button container -->
    <div class="button-container buttons are-medium is-centered">
        <button class="button is-rounded is-primary" id="loginBtn">Proceed</button>
        <a href="{% url 'register' %}" class="button is-rounded is-info">Register</a>
    </div>
</div>

<dialog id="notification-dialog">
    <article class="message is-primary">
        <div class="message-header">
            <p>Notification</p>
            <button class="delete" aria-label="close" id="close-notification"></button>
        </div>
        <div class="message-body alert-message">
        </div>
    </article>
</dialog>

<form style="display:none;">
    {% csrf_token %}
</form>

<!-- <h1 class="title is-1 has-text-centered has-text-weight-semibold mt-3">Welcome!</h1>
<div class="positioned-bottom">
    <div class="buttons are-large is-centered">
        <button id="proceed-btn" class="button is-rounded is-primary mr-4">Proceed</button>
        <a href="{% url 'register' %}" class="button is-rounded is-primary is-outlined">Register</a>
    </div>
</div> -->
{% endblock %}